<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/public/css/index.css">
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="container">
        <h1 class="index-header">Ticket Viewer</h1>
        <div class="ticket-info">
          <span class="total-tickets">Total Tickets: <%= totalTickets %></span>
          <span class="tickets-per-page">Tickets on this Page: <%= tickets.length %></span>
        </div>
      </div>
      <div class="container main-content">
        <% tickets.forEach(ticket => { %>
          <a class="ticket-link" href="/tickets/<%= ticket.id %>">
            <div class="section hoverable">
              <h5>Ticket ID: <%= ticket.id %></h5>
              <p>Subject: <%= ticket.subject %></p>
            </div>
          </a>
        <% }) %>
        <ul class="pagination">
          <% if (prevPageId !== null) { %>
            <li class="waves-effect"><a href="/tickets?page=<%= parseInt(pageId) - 1 %>"><i class="material-icons">chevron_left</i></a></li>
          <% } else { %>
            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
          <% } %>
          <% totalPages.forEach(page => { %>
            <% if (page == pageId) { %>
              <li class="active"><a href="/tickets?page=<%= pageId %>"><%= pageId %></a></li>
            <% } else { %>
              <li class="waves-effect"><a href="/tickets?page=<%= page %>"><%= page %></a></li>
            <% } %>
          <% }) %>
          <% if (nextPageId !== null) { %>
            <li class="waves-effect"><a href="/tickets?page=<%= parseInt(pageId) + 1 %>"><i class="material-icons">chevron_right</i></a></li>
          <% } else { %>
            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
          <% } %>
        </ul>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>